# Database Configuration
DB_NAME=railway
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_HOST=tu_host_aqui
DB_PORT=3306

# Django Configuration
SECRET_KEY=tu_secret_key_aqui
DEBUG=False

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Payment System Configuration
# Add your payment system configuration here